<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Painel</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/painel.css') }}">
</head>
<body>

<div class="sidebar">

    <h2>AMÁLGAMA</h2>

    <a href="/chat">Chat</a>

    <a href="/pedidos">Pedidos</a>

    <a href="/perfil">Perfil</a>

    <a href="/pagamentos">Pagamentos</a>

    <a href="/configuracoes">Configurações</a>

</div>

<div class="conteudo">

    <h1>Bem-vindo</h1>

</div>

</body>
</html>